# Framework principal y extensiones
Flask==3.0.3
Flask-Dance==7.1.0
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2

# Base de datos
mysqlclient==2.2.5

# APIs de IA
anthropic==0.39.0
google-generativeai==0.8.3

# Utilidades
python-dotenv==1.0.1
pydantic==2.9.2

# Para despliegue (opcional)
gunicorn==21.2.0